<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link th:href="@{/css/categoriesStyle.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <form method="post" th:action="@{/category/sports}">
        <div class="row">
            <div class="row m_1">
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/ideas/wellness" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1460143009_798_iWish_3.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Wellness
                            </div>
                            <div class="block_idea">
                                21 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/ideas/travel" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1459346125_338_iWish_1.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Travel
                            </div>
                            <div class="block_idea">
                                62 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/category/sports" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1460143042_787_iWish_4.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Sport
                            </div>
                            <div class="block_idea">
                                146 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/ideas/relationships" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1460143094_360_iWish_5.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Relationships
                            </div>
                            <div class="block_idea">
                                85 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/ideas/career" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1459346178_328_iWish_2.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Career
                            </div>
                            <div class="block_idea">
                                29 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/ideas/places" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1460205287_978_iWish_6.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Places
                            </div>
                            <div class="block_idea">
                                170 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/ideas/wealth" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1459346125_338_iWish_1.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Wealth
                            </div>
                            <div class="block_idea">
                                25 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 m_3">
                    <a href="/ideas/learn" class="a_1">
                        <div class="block_1 m_2">
                            <img src="https://www.iwishbucketlist.com/images/typeMenu/1460143242_521_iWish_8.jpg" alt=""
                                 class="img-responsive adv">
                        </div>
                        <div class="block_2">
                            <div class="text_idea">
                                Learn
                            </div>
                            <div class="block_idea">
                                97 IDEAS
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>