<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<body>

<head th:fragment="head">
    <title>Bucket App</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/student-logo.png}"/>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<div th:fragment="header" id="logo-title">
    <img th:src="@{/images/bucketListLogo.png}"/>
    <h1>Bucket App</h1>

</div>

<div th:fragment="js">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>